<section class="Inicio">

  <div class="login-box">
    <h1>Bienvenido</h1>
    <form>
      <input type="submit" value="Ingresar" routerLink="/list-empleados">
      <input type="submit" value="Sobre mi" routerLink="/sobreMi">


      <div class="social-btns" style="margin-bottom: 70px;">
        <a class="btn facebook" href="https://www.facebook.com/sergioenrique.vargaspedraza" target="_blank"><i class="fab fa-facebook-f" ></i></a>
        <a class="btn instagram" href="https://www.instagram.com/sergio_hidden/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="btn youtube" href="https://www.youtube.com/channel/UCboflaSQt7bDGp9dzw_eSow" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </form>
  </div>
</section>
